.doctors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 80%;
}

.doctor-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.doctor-info {
    flex-grow: 1;
}

.book-appointment-btn {
    background-color: #f04f5b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.appointment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.appointment-form input {
    padding: 10px;
    margin: 5px 0;
    border: 1px black solid;
}
.submit-button {
    background-color:rgb(12, 232, 12);;
    width:400px;
    height: 30px;
   
    margin: 10px;
}
.cancel-btn {
    background-color:rgb(12, 232, 12);
    width:400px;
    height: 30px;
    margin: 10px;
}
.submit-button:hover{
    background-color: rgb(133, 240, 133);
}

.cancel-btn:hover{
    background-color: rgb(133, 240, 133);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.modal-close-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.modal-close-btn:hover {
    background-color: #45a049;
}
