/* Specialists.css */
.specialists-container {
    padding: 20px;
    text-align: center;
}

.specialists-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.specialist-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.specialist-card:hover {
    transform: scale(1.05);
}

.specialist-card-content {
    text-align: center;
}

.specialist-card-image {
    width: 80%;
    height: 200px;
    border-radius: 8px;
}

.specialist-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.specialist-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.specialist-card ul {
    list-style-type: none;
    padding: 0;
}

.specialist-card ul li {
    font-size: 0.9rem;
    color: #777;
}

.specialist-card-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.specialist-card-link:hover {
    background-color: #0056b3;
}
.header{
    padding: 30px;
    font-style: oblique;
   
}
